<h1>Current Inventory at Durian Toyz</h1>
<h2>There are {{items.length}} items in stock.</h2>

<div class="site-nav">
    <a href="/warehouses" class="back-to-warehouses">Back to All Warehouses</a>
    <a href="/addItem" class="addItem">Add Item</a> 
</div>

{{#each items}}  
    <div class="card col-md-3">
        <h3>{{name}}</h3>
        <img class="item-img" src="{{image}}" />
            <div>
                <a href="/item/{{id}}">See Toy</a>
            </div>
    </div>
{{/each}}

{{!-- <div>
    <a class="add-restaurant-button" href="/new-restaurant-form">Add a new restaurant</a>
</div> --}}