<h2>There are {{allWarehouses.length}} warehouses.</h2>

{{#each allWarehouses}}  
    <div class="card col-md-4">
        <h3>{{name}}</h3>
        <h4>Location: {{location}}</h4>
    </div>
{{/each}}